{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
  ],
  "presets": [
    {
      "plugins": [
        "./babelRelayPlugin"
      ]
    },
    "es2015",
    "react"]
}