$margin: margin auto;
$font1: 'Pacifico', cursive;
$headerText: 'Open Sans', sans-serif;

body {
  // opacity: .9;
  margin: 0;
  padding: 0;
}

$greyed-color: #999;
$text-color: #666;
$hard-border: 1px solid #e0e0e0;
$light-border: 1px solid #efefef;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $greyed-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $greyed-color;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $greyed-color;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $greyed-color;
}

@mixin top-bar-common() {
  padding: 13px 15px 0 15px;
  color: $text-color;
}

.main-top-bar {
  background-color: white;
  border-bottom: $hard-border;
  height: 52px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  top: 0;
}

.top-bar-logo {
  width: 64px;
  padding: 0px 0 0 10px;
  color: $text-color;
  font-size: 38px;
  cursor: pointer; cursor: hand;
  border-right: $hard-border;
}

.top-bar-search-ctn {
  @include top-bar-common();
  flex: 4;
}

.top-bar-nav-ctn {
  @include top-bar-common();
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-ctn {
  width: 60vw;
  overflow: scroll;
}

.search-settings-ctn {
}

.setting-row {
  background-color: white;
  border-bottom: $light-border;
  display: flex;
  flex-direction: row;
  min-height: 64px;
  padding: 24px 20px 0px 10px;
  color: $text-color;
}

.result-count {
  color: $text-color;
  font-weight: 500;
  padding-top: 10px;
}

.final-setting-row {
  border-bottom: $hard-border;
  display: flex;
  min-height: 52px;
  padding: 8px 10px 8px 10px;
  justify-content: space-between;
}

.setting-row-label {
  flex: 1;
}

.setting-row-cntrl {
  flex: 4;
}

.search-results {
  padding: 10px;
}

.map-ctn {
  background-color: lightgrey;
  width: 40vw;
}

.list-item-price {
  font-weight: 500;
}

.list-item-title {
  color: $greyed-color;
}

.input-default {
  border: 0;
  font-size: 18;
  color: #666;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.input-label {
  font-size: 14;
  color: #666;
}

.input-ctn-style {
  // border: 3px solid black;
  display: flex;
  flex-direction: row;
}

.input-ctn-active-style {
  border-bottom: 2px solid #ade8d4;
}

.subheader {
  color: #666;
  font-size: 20px;
}

.results-page {
  width: 100vw;
  height: 100vh;
}

.splash-ctn {
  // background-color: red;
  width: 100%;
  height: 100%;
}

.splash-content-ctn {
  width: 1080px;
  height: 560px;
}

.splash-image-ctn {
  background:linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%) !important;;
}

.split-pane-horiz {
  display: flex;
  height: calc(100% - 52px);
  width: 100vw;
}

.splash-panel {
  height: 560px;
}

.splash-nav {
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 2;
}

.nav-links-ctn {
  float: right;
  text-align: right;
  margin: 20px 30px 20px 30px;
  font-size: 14px;
}

.splash-intro-text {
  position: relative;
  top: 30%;
  width: 700px;
  height: 200px;
}

.splash-search-ctn {
  border-radius: 5px;
  box-shadow: 0 0 4px #ccc;
  background-color: white;
  width: 1080px;
  height: 72px;
  position: relative;
  bottom: -40%;
  display: flex;
  flex-direction: row;
}

.search-btn {
  width: 200px;
  height: 45px;
  background-color:rgb(99.9%, 37.4%, 37.4%);
  color: white;
}
.search-btn:hover {
  color: white;
}

.splash-recommend {
  width: 1080px;
  height: 1920px;
  margin-top: 36px;
}

.logo-text {
  font-size: 20px;
}

input{
  padding: 10px;
  height: 30px;
  width: 300px;
}

Navbar{
  border-radius: 0%
}

.navbar-default {
  background-color: white;
  border: 0;
}

.logocolor{
  color: #76cede;
}

.logosmall {
  background-image: url("../helixlogo.small.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 57px;
  position: relative;
  top: -17px;
  float: left;
}

.navbar {
  border-radius: 0px;
  height: 70px;
  padding: 11px 0px;
}

a.logo{
  font-family: $font1;
  font-size: 36px;
  margin-bottom: 20px;
}

.logStatus{
  padding: 15px 0px;
  font-size: 18px;
}


.panel-heading:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer; cursor: hand;
}

.footer{
  text-align: center;
  padding: 20px 0px;
  background: #222;
  color: #9d9d9d;
}

.description{
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: $headerText;
  font-size: 30px;
  color: grey;
  text-align: center;
  width: 500px;
}
